html, body
{
  background: rgb(245, 245, 245);
  background-color: #EFEBE9;
}

.wrapper
{
	padding-top: 15px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2291744/plate_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10px;
	margin: auto;
  height: 800px;
  width: 100%;
}

h1
{
  color: #E0E0E0;
  text-align: center;
	font-family: 'Baloo Tamma', cursive;
  color: white;
  font-size: 5em;
}

form
{
	display: block;
	border-color: white;
	width: 55;
	margin: 0 auto;
	max-width: 55%;
	text-align: center;
}

input.js-query
{
  border: none;
	border-color: white;
  border-bottom: 1px solid rgb(79, 79, 99);
  border-radius: 5px;
	background-color: #E0E0E0;
	padding: 5px;
  color: black;
  font-size: 20px;
  width: 50%;
  height: 50px;;
  text-align: center;
	margin-bottom: 5px;
}

button.meal-button
{
  background-color: rgba(255, 0, 0, 0.657);
  border: none;
  border-radius: 5px;
  min-height: 2em;
  max-height: 2em;
  font-size: 28px;
  width: 50%;
}

button.meal-button:hover
{
  background-color: rgb(42, 218, 36);
}

.js-random-drink
{
  background-color: rgba(255, 0, 0, 0.657);
  color: black;
  border: none;
  border-radius: 10px;
  min-height: 2em;
  max-height: 3em;
  font-size: 28px;
  width: 50%;
  text-align: center;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration-line: none;
  display: block;
  margin-bottom: 10px 0;
}

.js-random-drink:hover
{
  background-color: rgb(42, 218, 36);
  color: black;
}

input:focus, textarea:focus {
  background   : rgb(126, 128, 121);
  border-radius: 5px;
  outline      : none;
}

.meal-wrapper{
	float:left;
	width:31.3%;
	padding:1%;
}

.meal-thumbnail-image, .drink-thumbnail-image
{
  border-radius: 10px;
		width:100%;
}

a:hover
{
  color: rgb(42, 218, 36);
}

a:active
{
  color: blue;
}

h2
{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  text-align: center
}

.meal-name
{
  font-family: 'Roboto Slab', serif;
  font-size: 2.8em;
}

.meal-video
{
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-style: oblique;
}

.drink-name
{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

.drink-question
{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
