html, body 
{
    background: rgb(245, 245, 245);
    background-color: #EFEBE9;
}


.wrapper 
{
    padding-top: px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2291744/plate_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    padding-bottom: 3px; 
    margin: auto;
    height: 600px;
}

h1 
{
    color: #E0E0E0;
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Baloo Tamma', cursive;
    color: white;
    font-size: 5em;
}

fieldset 
{
    font-size: 1.5em;
    border-radius: 1em;
    font-family: sans-serif;
    border-width: 0;
    text-align: center;
}

label, input, button
{
    font-size: 1.25;
    padding: 0.5em 0.6em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: .5px solid #f90;
    background-color: #fff;
}

input 
{
    margin-right: 0;
    border-radius: 0.6em 0 0 0.6em;
}

input:focus 
{
    outline: none;
    background-color: #ffa;
    background-color: rgba(255,255,210,0.5);
}

button 
{
    margin-left: .5px;
    border-radius: 0 0.6em 0.6em 0;
    background-color: rgb(221, 23, 23);
}

button:active,
button:focus 
{
    background-color: #acf;
    outline: none;    
}

button:hover 
{
    background-color: rgb(42, 218, 36);
}

.js-random-drink
{
    background-color: rgba(255, 0, 0, 0.657);
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration-line: none;
    display: block;
    margin: auto;
				border: none;
}

.js-random-drink:hover
{
    background-color: rgb(42, 218, 36);
    color: black;
}

.drink-question 
{
    text-align: center;
}

.js-drink-form 
{
    text-align: center;
}

.js-random-drink
{
    text-align: center;
}

input:focus, textarea:focus {
    background   : rgb(126, 128, 121);
    border-radius: 5px;
    outline      : none;
}

.meal-wrapper{
	float:left;
	width:31.3%;
    padding:1%;
}

.meal-thumbnail-image, .drink-thumbnail-image 
{
    border-radius: 10px;
    width:100%;
}



a:hover 
{
    color: rgb(42, 218, 36);
}

a:active
{
    color: blue;
}

h2 
{
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    text-align: center
}

.meal-name 
{
    font-family: 'Roboto Slab', serif;
    font-size: 2.8em;
}

.meal-video
{
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-style: oblique;
}

.drink-name 
{
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
}

.drink-question 
{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {

        h1 
    {
        color: #E0E0E0;
        padding-top: 50px;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Baloo Tamma', cursive;
        color: white;
        font-size: 3em;
    }
        
        .meal-wrapper{
            display: block;
            width:100%;
            padding:1%;
        }

        .meal-thumbnail-image, .drink-thumbnail-image 
    {
        border-radius: 10px;
        display: block;
        width:75%;
        margin-left: auto;
        margin-right: auto;
    }

        label, input, button
    {
        font-size: .75em;
        padding: 0.5em 0.6em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: .5px solid #f90;
        max-width: 150px;
        background-color: #fff;
    }

        button 
    {
        margin-left: .5px;
        border-radius: 0 0.6em 0.6em 0;
        background-color: rgb(221, 23, 23);
    }

        button:active,
        button:focus 
    {
        background-color: #acf;
        outline: none;    
    }

        button:hover 
    {
        background-color: rgb(42, 218, 36);
    }

        .meal-name 
    {
        font-family: 'Roboto Slab', serif;
        font-size: 2.5em;
        text-align: center;
    }

        .meal-video
    {
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        font-style: oblique;
        text-align: center;

    }


}

@media only screen and (min-device-width : 500px) and (max-device-width : 750px) {

    h1 
    {
        color: #E0E0E0;
        padding-top: 50px;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Baloo Tamma', cursive;
        color: white;
        font-size: 3em;
    }
        
        .meal-wrapper{
            display: block;
            width:100%;
            padding:1%;
        }

        .meal-thumbnail-image, .drink-thumbnail-image 
    {
        border-radius: 10px;
        display: block;
        width:75%;
        margin-left: auto;
        margin-right: auto;
    }

        label, input, button
    {
        font-size: .75em;
        padding: 0.5em 0.6em;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: .5px solid #f90;
        max-width: 150px;
        background-color: #fff;
    }

        button 
    {
        margin-left: .5px;
        border-radius: 0 0.6em 0.6em 0;
        background-color: rgb(221, 23, 23);
    }

        button:active,
        button:focus 
    {
        background-color: #acf;
        outline: none;    
    }

        button:hover 
    {
        background-color: rgb(42, 218, 36);
    }

        .meal-name 
    {
        font-family: 'Roboto Slab', serif;
        font-size: 2.5em;
        text-align: center;
    }

        .meal-video
    {
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        font-style: oblique;
        text-align: center;
    }



    }
